@import '../../styles/variables.scss';

.pagination {
  display: flex;

  &__btn {
    padding: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    font-size: 1.8rem;
    box-shadow: 0 .5rem 1.2rem rgba($black-bg, .4);
    margin-right: 1rem;
    font-family: $font-numbers;
    color: $black-text;
    transition: none;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $orange-text;
    }

    &--active {
      background-color: $orange-bg;
      color: $white-text;

      &:hover {
        color: $white-text;
      }
    }
  }
}
