@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.toolbar {
  background-color: rgba($white-bg, .9);
  padding: $gutter;
  box-shadow: 0 .8rem 1.5rem rgba($black-bg, .2);

  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__wrapper {
    @extend %section-wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 2.6rem;
    color: $grey-text;
  }

  &__tools {
    display: flex;
  }

  &__input {
    margin-right: 2.5rem;
  }
}
