// fonts
$font: 'Raleway', sans-serif;
$font-numbers: 'Kanit', sans-serif;

// bg
$purple-bg: linear-gradient(to right, #4A00E0, #8E2DE2);
$transparent-bg: transparent;
$white-bg: #fff;
$darkblack-bg: #000;
$black-bg: #272727;
$orange-bg: #fd9d01;
$grey-bg: #999;
$lightgrey-bg: #ebebeb;
$blue-bg: #29b6cf;
$red-bg: #e71616;

// text
$black-text: #272727;
$white-text: #fff;
$grey-text: #999;
$orange-text: #fd9d01;
$transparent-text: transparent;
$blue-text: #29b6cf;
$red-text: #e71616;

// borders
$white-border: #fff;
$black-border: #272727;
$grey-border: #999;
$lightgrey-border: #ebebeb;
$orange-border: #fd9d01;
$blue-border: #29b6cf;
$red-border: #e71616;

// gutters
$gutter: 2.5rem;
