@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.footer {
  background-color: $white-bg;
  padding: 1.5rem $gutter;

  &__wrapper {
    @extend %section-wrapper;
    
    text-align: center;
  }

  &__copyright {
    color: $grey-text;
  }
}
